/*.button-bar{
	margin-bottom:5px;
}
.button-bar-header{
	text-align:center;
	position:relative;
}
.button-bar-header .button{
	float:right;
	bottom:0;
	top:0;
	right:auto;
	margin:2px;
}
.button{
	display:inline-block;
	min-width:50px;
	background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(211,211,211,1) 100%);
	border:1px solid #afafaf;
	text-align:center;
	text-decoration:none;
	color:black;
	text-shadow:2px 2px 2px white;
	padding:5px;
	border-radius:5px;
	cursor:pointer;
}
.button:hover{
	background: linear-gradient(to bottom,  rgba(221,221,221,1) 0%,rgba(195,195,195,1) 100%);
	border-color:#bfbfBf;
}
.button.fill{
	min-width:inherit;
	display:block;
}
.button.min{
	width:auto;
	min-width:inherit;
	display:inline-block;
	font-family:monospace;
	line-height:inherit;
}
body{
	min-width:250px;
	height:auto;
	font-family:Arial;
}*/
