.server-btn {
  margin: 0 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  float: right;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -3px;
}

.btn-circle:focus {
  outline: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  padding: 15px;
}

.child-list {
  list-style: none;
}

.parent-container-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  display: inline-block !important;
  margin: 0px 5px;
}

.title {
  width: 30%;
}

.url {
  width: 60%;
}

.main {
  display: flex;
  align-items: flex-end;
}

.item {
  display: flex;
}
