table{
	width:100%;
}

.alias {
	text-shadow: 1px 1px #e6e6e6;
}

.author {
	background-color:#F6CEE3;
	font-size:10;
	white-space:no-wrap;
	text-overflow:ellipsis;
	cursor:pointer;
	border: solid 1px;
	display:block;
}

.publish {
	background-color:#A9F5F2;
	font-size:10;
	white-space:no-wrap;
	text-overflow:ellipsis;
	cursor:pointer;
	border: solid 1px;
	display:block;
}

.author:before {
	display:block;
}

.publish:before {
	display:block;
}

.author:before {
	content : "Author ";
}

.publish:before {
	content : "Publish ";
}

.author:hover {
	background-color:#bdbdbd;
}

.publish:hover {
	background-color:#bdbdbd;
}
